<header>
  <h1>Lucas Prieto's Lucky Panda | CP-CO-01</h1>
  <br />
  <nav>
    <a href="http://lpr1370.gitlab.io/personal-webpage/introduction.html">Introduction</a>
    <a href="http://lpr1370.gitlab.io/personal-webpage/contract.html">Contract</a>
    <a href="http://lpr1370.gitlab.io/personal-webpage/index.html">Home</a>
    <a href="http://lpr1370.gitlab.io/personal-webpage/team.html">Team</a>
    <a href="http://lpr1370.gitlab.io/personal-webpage/assignments.html">Assignments</a>
  </nav>
</header>
