h1 {
  font-family:'Lucida Handwriting', 'Brush Script MT', serif;
  text-align: center;
  background-image: linear-gradient(
    0deg,
    rgb(55, 55, 252),
    rgb(3, 229, 229) 90%
  );
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
img {
  display: block;
  margin: 0 auto 0 auto;
}
figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 6px;
}
nav {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 4px;
  font-size: 20px;
}
nav a {
  color: #cd5334;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
nav a:visited {
  color: #cd5334;
}
nav a:hover {
  color: black;
}
nav a:active {
  color: grey;
}
h2 {
  text-align: center;
}
footer,
header {
  background-color: #f4f1bb;
  padding-top: 15px;
  width: 100%
}
header{
  margin-top: -8px;
  padding-bottom: 10px;
}
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  background: #5c7457;
}

main{
  background-color: #b8e1ff;
  color: #23193d;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}

ul,
p,
ol,
dl,
dd,
h3 {
  margin-left: 30px;
  margin-right: 30px;
}
.classmate-links,
.poem {
  line-height: 2;
  margin-left: auto;
  list-style-type: none;
  text-align: left;
  display: inline-block;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
footer nav,
footer a {
  display: inline-block;
}
footer a {
  padding: 0 10px;
}

.classmate-links a:visited {
  color: rgb(25, 94, 94);
}
.classmate-links a:hover {
  color: azure;
}
.classmate-links a {
  text-decoration: none;
  color: rgb(25, 94, 94);
  padding-left: 7px;
}
.poem {
  float: right;
  line-height: 1;
  margin: 0;
}

.citation {
  text-align: center;
  padding-top: 10px;
}
.introduction-list {
  margin-bottom: 90px;
}

.contract-introduction-link:visited,
.contract-introduction-link {
  color: #79423c;
  text-decoration: none;
}
.introduction-list a {
  text-decoration: none;
  color: #79423c;
}
.business-card-link {
  font-size: smaller;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 3px 0 0 0;
  margin: 0;
  font-style: italic;
}
.business-card-link a {
  padding: 0;
  text-decoration: none;
  color: #cd5334;
}

dl{
  font-size: large;
  font-weight: bold;
}
h3{
  text-align:center;
  font-size:larger
}
.colors{
  background-color: lightgray;
  padding-right: 37px;
  padding-top: 2px;
  text-align: center;
  list-style-type: none;
  width: fit-content;
}
.colorTable{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  padding: 5px
}
th, td, tr{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.brownieLinks{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(25, 94, 94);
  padding-top: 10px;
}
.brownieLinks:visited {
  color: rgb(25, 94, 94);
}
.brownieLinks:hover {
  color: azure;
}
.brownieList{
  padding-right: 37px;
  padding-top: 2px;
  list-style-type: none;
  width: fit-content;
 }
 .brownieList li{
  padding-bottom:10px;
 }
 .brownieList a{
  color:rgb(128, 56, 56);
  text-decoration:none;
  font-weight: bold;
 }
.brownieList a:visited{
color: rgb(128, 56, 56);
text-decoration: none;
}
.contentBrownie h2{
  text-align: left;
  margin: 50px;
  color: rgb(128, 56, 56);
}
.jsActivity1-title{
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  text-align: center;
}
.jsActivity1-table{
  text-align: center;
  align-self: center;
  margin: auto;
}
.assignments{
  font-family: 'Courier New', Courier, monospace;
}
.assignments-main p{
  margin: auto;
  text-align: center;
  padding: 5px;
}
.javascript-activities{
  text-align: center;
}
